body {
}

.input-field, .button {
  display: inline-block;
  margin: 5px;
}

.input-field {
  width: 100px;
  height: 25px;
}

.button {
  width: 30px;
  height: 30px;
}

.counter {
  font-size: 32px;
}
